@use "sass:meta";
@use "variables.module" as variables;

html {
  height: 100%;
}

body {
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
  margin: 0;
  background-color: variables.$color-background;
  height: 100%;

  #root {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    #App {
      height: 100%;
    }
  }

  // Components
  @include meta.load-css('components/header');
  @include meta.load-css('components/footer');
  @include meta.load-css('components/server-control');
  @include meta.load-css('components/content-wrapper');
  @include meta.load-css('components/message-wrapper');

  // Pages
  @include meta.load-css('pages/settings');
  @include meta.load-css('pages/coalitions');
  @include meta.load-css('pages/clients');
  @include meta.load-css('pages/ban');
  @include meta.load-css('pages/frequencies');
}
