@use "../variables.module" as variables;

.coalitions {
  &.coalitions-paper {
    padding: 10px;
    background-color: variables.$color-background-paper;
    border-radius: 10px;
    height: 300px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: variables.$color-primary-main variables.$color-background-paper;
    scrollbar-width: thin;
  }

  &.coalitions-add {
    display: flex;
    width: 180px;
    margin-top: 10px;
    margin-left: auto;
  }

  &.coalitions-create {
    &.coalitions-create-form {
      display: flex;
      width: 400px;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    &.coalitions-create-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-right: 10px;
    }

    &.coalitions-create-color {
      margin-left: 10px;
    }
  }

  &.coalitions-entry {
    &.coalitions-entry-paper {
      background-color: variables.$color-background;
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
    }

    &.coalitions-entry-header {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &.coalitions-entry-content {
      flex-grow: 1;
    }

    &.coalitions-entry-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 10px;
    }

    &.coalitions-entry-button {
      margin-top: 10px;
      width: 6rem;
    }

    &.coalitions-entry-color {
      margin-right: 10px;
      width: 8rem;
    }

    &.coalitions-entry-name {
      border-radius: 5px;
      padding: 11px 10px;
      margin-top: 3.5px;
      width: 300px;
      margin-bottom: 8px;
    }

    &.coalitions-entry-password {
      width: 28.6rem;
    }
  }
}